body {
    background-color: aquamarine;
}


table, th, td {
    border: 1px solid black;
    width: 500px;
  }

  .hundar {
    
    width: 200px;
 }
 h4 {
    font-style: italic;
    text-decoration: underline;
 }
